[package]
name = "aerostore_core"
version = "0.1.0"
edition = "2021"

[dependencies]
crossbeam = { workspace = true }
aerostore_macros = { path = "../aerostore_macros" }

[dev-dependencies]
aerostore_macros = { path = "../aerostore_macros" }
tokio = { version = "1.44", features = ["macros", "rt-multi-thread", "sync", "time"] }
